* {
    font-family: 'Lilita One', cursive;
}

body {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: top center;
    overflow-y: auto;
    min-height: 163.5vw;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -1;
}

.darkLightMode {
    width: 8vw;
    height: auto;
    position: absolute;
    right: 3vw;
    top: 3vw;
}

.darkLightMode:hover {
    filter: brightness(1.2);
    cursor: pointer;
}


.profile {
    display: flex;
    flex-direction: column;
    color: rgb(218, 223, 223);
    margin: 7vw 15vw 0 15vw;
}

.welcome {
    font-size: 9vw;
}

.about {
    font-size: 3vw;
}

footer {
    color: white;
    position: absolute;
    bottom: 1px;
}

.project1Logo {
    position: absolute;
    width: 14vw;
    height: 14vw;
    left: 22.7vw;
    top: 52.6vw;
    border-radius: 50%;
}

.project1Logo:hover {
    cursor: pointer;
}

.project2Logo {
    position: absolute;
    width: 14vw;
    height: 16vw;
    left: 11.3vw;
    top: 115vw;
    border-radius: 50%;
}

.project2Logo:hover {
    cursor: pointer;
}

.popUpBackground {
    display: block;
    position: fixed;
    background-color: rgb(9, 11, 16, 0.5);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 5;
}

.popUpBox {
    display: block;
    position: fixed;
    background-color: rgb(210, 215, 225);
    border: rgb(9, 11, 16) 5px solid;
    border-radius: 15px;
    z-index: 10;
    top: 8vh;
    bottom: 8vh;
    left: 8vw;
    right: 8vw;
    overflow: hidden;
}

.navBar {
    display: block;
    background-color: rgb(200, 205, 215);
    border-bottom: rgb(9, 11, 16) 1px solid;
    height: 50px;
}

.popUpClose {
    position: absolute;
    border-left: rgb(9, 11, 16) 1px solid;
    width: 60px;
    height: 50px;
    right: 0px;
}

.popUpClose:hover {
    cursor: pointer;
    background-color: rgb(215, 50, 85);
}

.popUpBody {
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
}

.popUpImage {
    height: auto;
    width: 600px;
    border-radius: 10px;
    border: 2.5px rgb(9, 11, 16) solid;
    margin-top: 5px;
}

.popUpImage:hover {
    cursor: pointer;
}

.popUpTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: rgb(9, 11, 16);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUpTitleIcon {
    height: 1em;
    margin-left: 10px;
    font-weight: 600;
}

.popUpTitleIcon:hover {
    cursor: pointer;
}

.popUpParagraph {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}