* {
    font-family: 'Lilita One', cursive;
}

body {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: top center;
    overflow-y: auto;
    min-height: 163.5vw;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -1;
}

.darkLightMode {
    width: 8vw;
    height: auto;
    position: absolute;
    right: 3vw;
    top: 3vw;
}

.darkLightMode:hover {
    filter: brightness(1.2);
    cursor: pointer;
}


.profile {
    display: flex;
    flex-direction: column;
    /*color: rgb(218, 223, 223);*/
    color: rgb(218, 223, 223);
    /*border: black solid 1px;*/
    margin: 7vw 15vw 0 15vw;
}

.welcome {
    font-size: 9vw;
}

.about {
    font-size: 3vw;
}

footer {
    color: white;
    position: absolute;
    bottom: 1px;
}

.project1Logo {
    position: absolute;
    width: 14vw;
    height: 14vw;
    left: 22.7vw;
    top: 52.6vw;
    border-radius: 50%;
}

.project1Logo:hover {
    cursor: pointer;
}

.popUpBackground {
z-index: 5;
}

.popUpBox {
    display: none;
    position: fixed;
    border: #202020 10px double;
    background-color: rgb(180, 180, 180);
    border-radius: 10px;
    z-index: 10;
    top: 8vh;
    bottom: 8vh;
    left: 8vw;
    right: 8vw;
}

.popUpBackground {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.popUpClose {
    position: absolute;
    background-color: rgb(227, 64, 64, 0.5);
    width: 40px;
    height: 30px;
    right: 0px;
}

.popUpClose:hover {
    cursor: pointer;
    background-color: rgb(227, 64, 64);
}