* {
    font-family: 'Lilita One', cursive;
}

body {
    background: url("images/background.png") no-repeat center top / cover;
    min-height: 163.5vw;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.darkLightMode {
    width: 8vw;
    position: absolute;
    right: 3vw;
    top: 3vw;
}

.darkLightMode:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.profile {
    display: flex;
    flex-direction: column;
    color: rgb(218, 223, 223);
    margin: 7vw 15vw 0 15vw;
}

.welcome {
    font-size: 9vw;
}

.about {
    font-size: 3vw;
}

.projects .project1Logo,
.projects .project2Logo {
    position: absolute;
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    cursor: pointer;
}

.project1Logo {
    left: 22.7vw;
    top: 52.6vw;
}

.project2Logo {
    left: 11.3vw;
    top: 115vw;
}

.popUpBackground,
.popUpBox {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.popUpBackground {
    background-color: rgba(9, 11, 16, 0.5);
    z-index: 5;
}

.popUpBox {
    background-color: rgb(200, 205, 215);
    border: 5px solid rgb(9, 11, 16);
    border-radius: 15px;
    top: 8vh;
    bottom: 8vh;
    left: 8vw;
    right: 8vw;
    z-index: 10;
    overflow: hidden;
}

.navBar {
    display: block;
    background-color: rgb(210, 215, 225);
    height: 50px;
    z-index: 1;
}

.popUpClose {
    position: absolute;
    width: 60px;
    height: 50px;
    right: 0;
    font-family: 'Poppins', sans-serif;
}

.popUpClose:hover {
    cursor: pointer;
    background-color: rgb(230, 20, 65);
}

.popUpClose::before,
.popUpClose::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: rgb(9, 11, 16);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.popUpClose::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.popUpClose:hover::before,
.popUpClose:hover::after {
    background-color: white;
}

.popUpBody {
    display: flex;
    padding-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 8vh - 8vh - 50px - 30px);
}

.popUpBodyLeft {
    margin-left: 25px;
    background-color: rgb(210, 215, 225);
    border-radius: 10px;
    padding: 5px 10px 10px 10px;
    height: 100%;
    margin-bottom: 20px;
}

.popUpTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: rgb(9, 11, 16);
    display: flex;
    align-items: center;
}

.popUpTitleIcon {
    height: 1em;
    margin-left: 10px;
}

.popUpParagraph {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.popUpBodyRight {
    background-color: rgb(210, 215, 225);
    margin-right: 25px;
    margin-left: 25px;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    margin-bottom: 20px;
}

.popUpImage {
    width: 600px;
    border-radius: 10px;
    cursor: pointer;
}

.popUpImageGallery {
    margin-top: 5px;
    display: flex;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
}

.popUpImageGallery button{
    background-color: rgb(200, 205, 215);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Lilita One', cursive;
    font-weight: 600;
    font-size: 16px;
    color: black;
    padding: 3px 8px;
}

.galleryImage {
    width: 27.5%;
    border: none;
    border-radius: 10px;
    object-fit: cover;
}

/* SCREEN ADJUST --------------------------------------------- */
@media screen and (max-width: 1000px) {
    .popUpBody {
        flex-direction: column;
        align-items: center;
    }

    .popUpBodyLeft,
    .popUpBodyRight {
        margin-left: 0;
        margin-right: 0;
        width: 90%;
    }

    .popUpBodyRight {
        margin-bottom: 20px;
    }

    .popUpImage {
        width: 100%;
    }
}